.game-object-children-items {
    margin-left: 10px;
}

game-object-item {
    cursor: pointer;
    background-color: #afafaf;
}

.game-object-item > label {
    cursor: pointer;
}

.selected {
    background-color: aquamarine;
}
